body {
  background: #eee;
  font-family:  Arial, Helvetica, sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  border-top: 20px;
}

.content {
  background: #e3f4ff;
  padding: 5px;
}

.button-container {
  background: #e3f4ff;
  padding: 5px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  font-weight: bold;
}